<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-8 text-center phone-text-center square-turtle">
            @*<p>&copy; 2017 eSalesPro All Rights Reserved</p>*@
            <p>2017 &copy; Powered by - <a href="http://SimplySoftwares.co.uk" target="_blank">SimplySoftwares</a></p>
        </div>

    </div>
</div>