@*----------------------------POP UP ADD SUPPLIER--------------------------------*@

<div style="z-index:9999;position:absolute" class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Message</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" />
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="win text-center">
                        <h3 class="black-color"><b>New Supplier</b></h3>
                        <img class="pull-right margin-supplier ml-22" src="~/img/images/supplier.png" />

                        <form id="demo-form2" action="@Url.Action("Create", "Supplier")" method="post" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">



                            <div class="col-md-12 text-center">

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Company Name <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="company_name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Company Short Name <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="company_short_name" required>
                                        </div>
                                    </div>

                                    <div class="supplier-border"></div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Sales Contact Name <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="sales_contact_name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Sales Contact Email <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="sales_contact_mail" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <div class="">
                                                <label class="supplier-create-texts" for="middle-name">Sales Contact Phone <span class="required">*</span></label>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <input class="width-123" type="text" name="sales_contact_phone" required>
                                                </div>
                                            </div>

                                            <div class="">
                                                <label class="pull-left ext_margin">Ext</label>
                                                <div>
                                                    <input type="text" class="width-43 mr-23" name="sales_phone_ext" required>
                                                </div>
                                            </div>

                                            <div class="clear"></div>

                                        </div>


                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Sales Contact Mobile <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="sales_contact_mobile" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Sales Contact Fax <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="sales_contact_fax" required>
                                        </div>
                                    </div>

                                    <div class="supplier-border"></div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Account Contact Name <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="account_contact_name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Account Contact Email <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="account_contact_mail" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                            <div class="">
                                                <label class="supplier-create-texts" for="middle-name">Account Contact Phone <span class="required">*</span></label>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <input class="width-123" type="text" name="account_contact_phone" required>
                                                </div>
                                            </div>

                                            <div class="">
                                                <label class="pull-left ext_margin">Ext</label>
                                                <div>
                                                    <input class="width-43 mr-23" type="text" name="account_ext_phone" required>
                                                </div>
                                            </div>

                                            <div class="clear"></div>

                                        </div>


                                    </div>


                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Account Contact Mobile <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="account_contact_mobile" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Account Contact Fax <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="account_contact_fax" required>
                                        </div>
                                    </div>

                                    <div class="supplier-border"></div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Bank Name <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="bank_name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Account Name <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="account_name" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Account No <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="account_no" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Sort Code <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input type="text" name="sort_code" required>
                                        </div>
                                    </div>






                                </div>



                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Address<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="street_postcode_new" id="add_street_postcode" required>
                                            <input class="ml--50" type="text" name="town_postcode_new" id="add_town_postcode">
                                            <input class="ml--50" type="text" name="county_postcode_new" id="add_county_postcode">
                                            <input class="ml--50" type="text" name="country_postcode_new" id="add_country_postcode">
                                            @*<input class="ml--50" type="text" name="address5">*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Postcode<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="postcode" id="postcode_add" onkeypress="Postcode_Enter_Click(event)">
                                            <a href="#" onclick="postcode_testing()" @*data-target="#Postcode_Confirmation" data-toggle="modal"*@><img src="~/img/images/ssearch.png" id="input_img" /></a>
                                        </div>
                                    </div>

                                    <div id="input_container">

                                    </div>

                                    @*</div>*@


                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Website<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="website" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Login<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="login" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Password<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="password" required>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="">Notes<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <textarea class="width-193 ml--50" name="notes" required></textarea>
                                        </div>
                                    </div>

                                    <div class="supplier-border"></div>

                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Credit Limit<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="credit_limit" required>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="supplier-create-texts" for="middle-name">Credit Period<span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <input class="ml--50" type="text" name="credit_period" required>
                                        </div>
                                    </div>

                                </div>

                            </div>



                            @*<div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-3" style="margin-bottom:15px">
                                    <input type="submit" value="Add Product" class="btn btn-success" />
                                </div>*@
                            <div class="col-md-12">
                                <div class="col-md-3"></div>

                                <div class="col-md-3">
                                    <input type="submit" value="Add" class="btn btn-success btn-mini center-block width-145" />
                                </div>

                                <div class="col-md-3">
                                    @*<a href="" class="btn btn-primary btn-mini center-block" style="width:135px">Cancel</a>*@
                                    <a href="~/Supplier/List" class="btn btn-primary blue-btn-style-modal btn-mini center-block a-cancel">Cancel</a>
                                </div>
                                <div class="col-md-3"></div>



                            </div>

                        </form>

                    </div>


                </div>
            </div>

            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

@*----------------------------POP UP END ADD SUPPLIER--------------------------------*@



@*----------------------------POP UP for POSTCODE CONFIRMATION--------------------------------*@

<div style="z-index:99999;" class="modal fade" id="Postcode_Confirmation" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Confirm</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" onclick="close_modal_123()" />
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div id="" class="black-color">
                        <div class="empty-height"></div><div class="empty-height"></div>
                        <div class="text-center"><p class="color"><b>Please confirm below address <br />If correct, press ok</b></p></div>

                        <div class="empty-height"></div><div class="empty-height"></div>

                        <div class="text-center italic">
                            <label id="street_postcode"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="town_postcode"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="county_postcode"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="country_postcode"></label><br />
                        </div>
                        <div class="text-center italic">
                            <label id="postcode_popup"><span> ?</span></label><br />
                        </div>





                        <div class="empty-height"></div>






                        <div class="col-md-12">


                            <div class="col-md-6">
                                <input type="button" onclick="Add_Postcode_New_Supplier()" value="Add" class="btn btn-success btn-mini center-block width-95">
                            </div>


                            <script>



                            </script>


                            <div class="col-md-6">
                                <input type="button" value="Cancel" class="btn btn-primary btn-mini center-block width-95" onclick="close_modal_123()">
                            </div>




                        </div>


                        <div class="col-md-12">
                            <div class="col-md-3"></div>


                            <div class="col-md-3"></div>



                        </div>


                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>

@*----------------------------POP UP for POSTCODE CONFIRMATION--------------------------------*@



<div class="clearfix"></div>


@*----------------------------POP UP for POSTCODE HOUSE NUMBER--------------------------------*@


<div style="z-index:999999;" class="modal fade" id="Postcode_House_Number" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Prompt</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" data-dismiss="modal" onclick="close_modal_House_Cross()" />
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div id="" class="black-color">
                        <div class="empty-height"></div>
                        <div class="empty-height"></div>

                        <div class="text-center italic">

                            <label>Please Enter House Number</label>

                            <input type="text" id="house_number_postcode_add" />

                        </div>

                        <div class="empty-height"></div><div class="empty-height"></div><div class="empty-height"></div>

                        <div class="col-md-12">

                            <div class="col-md-3"></div>

                            <div class="col-md-6">
                                <input type="button" onclick="House_no_Postcode_New_Supplier()" value="Add" class="btn btn-success btn-mini center-block width-95">
                            </div>




                            <div class="col-md-3"></div>
                            @*<input type="button" value="Cancel" class="btn btn-primary btn-mini center-block width-95" onclick="close_modal()">*@
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer"></div>
            <div class=""></div>

        </div>
    </div>
</div>

@*----------------------------POP UP for POSTCODE HOUSE NUMBER--------------------------------*@