<div class="modal fade close_modal" id="Edit_Customer_on_Context" tabindex="" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-style-custom">

            <div class="title col-md-12">
                <span>Message</span>
                <img src="~/img/images/c3.png" class="close mr--13 pull-right" onclick="close_modal_every_edit()" />

            </div>



            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    @*<input value="asasasas" />*@
                    <div class="win text-center" id="edit_customers">
                      
                    </div>

                </div>
            </div>

            <div class="modal-footer"></div>



        </div>
    </div>
</div>
<script>
    function close_modal_every_edit() {
        $("#Edit_Customer_on_Context").hide();
    }
</script>

@*----------------------------POP UP END EDIT CUSTOMER--------------------------------*@